@import url("../css/bootstrap.min.css");

@import url("../css/bootstrap-responsive.min.css");

@import url("../css/font-awesome.min.css");

@import url("../css/style-metro.css");

@import url("../css/style.css");

@import url("../css/default.css");

@import url("../css/style-responsive.css");

@import url("../css/uniform.default.css");

@import url("../css/jquery.gritter.css");

@import url("../css/chosen.css");

@import url("../css/select2_metro.css");

@import url("../css/datepicker.css");

@import url("../css/bootstrap-modal.css");
@import url("../css/DT_bootstrap.css");

.header {
    margin: 0 auto !important;
}

.page-container {
    margin: 0 auto !important;
}

.page-content {
    min-height: 900px !important;
}

.dataTables_scroll{
    overflow: scroll !important;
}
.dataTables_scrollHead{
    overflow: visible !important;
}
.dataTables_scrollBody{
    overflow: visible !important;
}

.dataTables_scrollHeadInner{
    width: 100% !important;
}

th, td {
    white-space: nowrap;
}

.control-label{
    max-width: 100px;
}

.myheader{
    text-align:center;
    width: 1265px
}

.mycontainer{
    width: 1265px;
}

.pagination{
    text-align: right;
}

.statusok{
    color: #CCCCCC!important;
    /*background-color: #CCCCCC!important;*/
}